header.site-header.site-header-no-bg(role="header")
  .container
    .row
      .site-header-column
        h1.site-header-title(role="heading")
          span Aligned thinking
          | #{pageTitle}
main.site-main(role="main")
  .container
    .row
      .site-intro
        h2(role="heading")
          | With&nbsp;
          span Aligned Capital Partners Inc.
          | , you as our Partner, have access to technologies that will help you reach the superior level of performance you demand from your business.
