extends ../_layouts/default

block title
  title Aligned One - Aligned Capital Partners Inc.

block vars
  - var bodyClass = 'aligned-one', category='at', pageTitle = 'Aligned One';

block metas
  - var siteAuthor = 'Aligned Capital Partners Inc.'
  - var siteDescription = 'A few words about Aligned Capital Partners Inc.'
  - var facebookSiteName = 'Aligned Capital Partners Inc.'
  - var facebookURL = 'http://application.io'
  - var facebookType = 'Aligned Capital Partners Inc.'
  - var facebookTitle = 'Aligned Capital Partners Inc.'
  - var facebookDescription = 'A few words about Aligned Capital Partners Inc.'
  - var twitterCard = 'Aligned Capital Partners Inc.'
  - var twitterTitle = 'A few words about Aligned Capital Partners Inc.'
  - var twitterDescription = 'A few words about Aligned Capital Partners Inc.'
  - var canonicalURL = 'http://application.io'
  - var siteENURL = 'http://application.io/en'
  - var siteFRURL = 'http://application.io/fr'

block content
  include ../_partials/aligned-one
