header.site-header.site-header-bg(role="header")
  .container
    .row
      .site-header-column
        h1.site-header-title(role="heading")
          span Aligned thinking
          | Our Team
        img(src="images/our-team-background.png", alt="Image of Our team banner", role="img")
main.site-main(role="main")
  .container
    ul.ot-list(role="list")
      li(role="listitem")
        img(src="images/our-team-member-thumb.png", alt="Image of National Bank logo", role="img")
        h2(role="heading") Christopher J. Enright
        p
          span Founding Partner
          | President & Managing Director
      li(role="listitem")
        img(src="images/our-team-member-thumb.png", alt="Image of B2B Bank logo", role="img")
        h2(role="heading") Michael S. Greer
        p
          span Founding Partner
          | Executive Vice President & Managing Director
      li(role="listitem")
        img(src="images/our-team-member-thumb.png", alt="Image of F-Engine logo", role="img")
        h2(role="heading") Don Flack
        p
          span Founding Partner
      li(role="listitem")
        img(src="images/our-team-member-thumb.png", alt="Image of F-Engine logo", role="img")
        h2(role="heading") Carl Fraser
        p
          span Founding Partner
      li(role="listitem")
        img(src="images/our-team-member-thumb.png", alt="Image of National Bank logo", role="img")
        h2(role="heading") Jack Mastromattei
        p
          | Chief Operating Officer
      li(role="listitem")
        img(src="images/our-team-member-thumb.png", alt="Image of B2B Bank logo", role="img")
        h2(role="heading") Michael Konopaski
        p
          | Chief Financial Officer
      li(role="listitem")
        img(src="images/our-team-member-thumb.png", alt="Image of F-Engine logo", role="img")
        h2(role="heading") Brian Driscoll
        p
          | Chief Compliance Officer
      li(role="listitem")
        img(src="images/our-team-member-thumb.png", alt="Image of F-Engine logo", role="img")
        h2(role="heading") Craig Schleyer
        p
          | Chief Administrative Officer
