// MEDIA QUERY (LARGE SCREENS ONLY)
// Check this link for more information: http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
// 62rem = 992px

/*
TABLE OF CONTENTS:
  1. CAROUSELS:
      SITE SLIDER
  2. SITE HOME PAGE:
      SITE FEATURE
      SITE CALLOUT
      SITE TESTIMONIAL
  3. SITE COMPONENTS:
      SITE WIDGET
      SITE NAVIGATION
  4. SITE PAGES
*/

// 1. CAROUSELS:
// SITE SLIDER
.carousel-slider {
  .carousel-caption {
    padding: 7rem 1rem 0;
    max-width: 48rem;
  }
}
// SITE CATEGORY
.carousel-category {
  .carousel-indicators {
    .carousel-list-item {
      &-img {
        max-width: 3rem;
      }
      &-title {
        @include font-size(20);
      }
      &-content {
        @include font-size(14);
      }
      &-link {
        @include font-size(14);
      }
    }
  }
}

// 2. SITE HOME PAGE:
// SITE SUMMARY
.site-summary {
  h2 {
    @include font-size(20);
  }
}
// SITE FEATURE
.site-feature {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
// SITE CALLOUT
.site-callout {
  height: 35rem;
  h2 {
    @include font-size(60);
  }
  h3 {
    @include font-size(50);
  }
  span {
    @include font-size(40);
  }
}
// SITE TESTIMONIAL
.site-testimonial {
  &-column {
    @include make-col(12);
    @include make-col-offset(0);
  }
  &-summary {
    @include font-size(24);
  }
  footer {
    h2 {
      @include font-size(20);
    }
    p {
      @include font-size(16);
    }
  }
}

// 3. SITE COMPONENTS:
// SITE WIDGET
.site-widget {
  &-scolumn-primary,
  &-scolumn-secondary {
    @include make-col(12);
  }
  nav {
    a {
      margin-right: .5rem;
      padding-right: .5rem;
    }
  }
  img {
    margin: 0 2rem 1rem 0;
  }
}
// SITE NAVIGATION
.site-navigation {
  padding: 1rem;
  background: rgba(255,255,255,0.95);
  box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.1);
  &-lists {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    content: '';
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: $blue-AC;
    padding-top: 3.75rem;
    // box-shadow: none;
    // padding-top: 5.5rem;
    // transform: translate3d(15rem, 0, 0);
    // &.collapse,
    &.collapsing,
    &.show {
      display: flex;
      flex-direction: column;
      // transform: translate3d(0, 0, 0);
    }
  }
  .container {
    max-width: 100%;
  }
  .navbar-brand {
    z-index: 4;
    padding: 0;
    img {
      display: none;
    }
    span {
      position: relative;
      overflow: visible;
      clip-path: unset;
      clip: unset;
      height: auto;
    }
  }
  .navbar-toggler {
    z-index: 3;
  }
  .primary-menu,
  .secondary-menu {
    .nav-link {
      @include font-size(18);
      padding: .75rem 1rem;
      color: $white;
      line-height: normal;
      text-transform: none;
      font-family: "Overpass-SemiBold";
      border-bottom: 1px solid darken($blue-AA, 5%);
    }
  }
  .primary-menu {
    order: 1;
    width: 100%;
    border-top: 1px solid darken($blue-AA, 5%);
    .dropdown-menu {
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 1rem;
      background-color: darken($blue-AC, 2%);
      border-bottom: 1px solid darken($blue-AA, 5%);
    }
    .dropdown-item {
      @include font-size(18);
      color: $white;
      padding: .75rem 0;
      line-height: normal;
      font-family: "Overpass-SemiBold";
      border-bottom: 1px solid darken($blue-AA, 5%);
      &.active {
        color: $yellow-AA;
      }
      &:hover {
        color: $yellow-AA;
      }
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        border: none;
        padding-bottom: 0;
      }
    }
    .btn-advisor-access {
      margin: .75rem 1rem;
    }
  }
  .secondary-menu {
    order: 2;
    width: 100%;
    border-top: 1px solid darken($blue-AA, 5%);
    .search {
      padding: 1rem;
      border-bottom: 1px solid darken($blue-AA, 5%);
      .hide {
        input {
          display: block;
        }
      }
    }
  }
}
// OFFCANVAS
.offcanvas {
  .site-navigation {
    &-title {
      color: $white;
    }
  }
  .navbar-nav {
    .nav-link {
      @include font-size(18);
      color: $white;
      border-right: none;
      line-height: normal;
      text-transform: none;
      font-family: "Overpass-SemiBold";
      &:hover,
      &:active,
      &:focus {
        color: $yellow-AA;
      }
    }
  }
}
// SITE HEADER
.site-header {
  min-height: 8.5rem;
  height: auto;
  margin-top: 3.75rem;
  padding-top: 2rem;
  &-title {
    @include font-size(32);
  }
  span {
    @include font-size(18);
  }
  &.site-header-no-bg {
    .site-header-title {
      margin-bottom: 1rem;
    }
  }
  // &.site-header-bg {
  //   .site-header-title {
  //     margin-top: 8rem;
  //     margin-bottom: -2rem;
  //   }
  // }
}

// 4. SITE PAGES
// SUPPORT SYSTEMS
.support-systems {
  .ss-list {
    li {
      padding: 1rem;
    }
    img {
      margin-bottom: 1rem;
    }
  }
}
// OUR TEAM
.our-team {
  .ot-list {
    li {
      width: 50%;
      padding: 1rem;
    }
  }
}
