// MEDIA QUERY (SMALL SCREENS ONLY)
// Check this link for more information: http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
// 36rem = 576px

/*
TABLE OF CONTENTS:
1. SITE SLIDER
2. SITE CALLOUT
3. SITE NAVIGATION
4. SITE COMPONENTS
*/

// 1. SITE SLIDER
.site-slider {
  .carousel-caption {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 5rem 1rem 0;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: $blue-AAA;
      transition: transform 0.6s ease;
      backface-visibility: hidden;
      perspective: 1000px;
    }
    .carousel-caption-title {
      position: relative;
      color: $white;
      z-index: 2;
    }
  }
}

// 2. SITE CALLOUT
.site-callout {
  height: 20rem;
  h2 {
    @include font-size(40);
  }
  h3 {
    @include font-size(30);
  }
  span {
    @include font-size(18);
  }
}

// 3. SITE NAVIGATION
.site-navigation {
  .navbar-brand {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    img {
      max-width: 7.5rem;
    }
  }
}

// 4. SITE COMPONENTS:
// SITE WIDGET
.site-widget {
  &-fcolumn-primary {
    display: none;
  }
}
