section.site-feature#siteFeature(role="banner")
  .container
    .row
      .site-feature-column.site-feature-column-primary
        img(src="images/feature-thumb.png", alt="Image of a laptop", role="img")
      .site-feature-column.site-feature-column-secondary
        .site-feature-wrap
          h2(role="heading") Aligned 360
          p Need to develop short descriptive paragraph to introduce this new tool. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="aligned-360.html", role="link") Learn More
