section.site-partners(role="complementary")
  .container
    .row
      .site-partners-column
        ul(role="list")
          li.primary(role='listitem')
            img(src="images/partner-national-bank.png", alt="Image of National Bank logo", role="img")
          li.primary(role='listitem')
            img(src="images/partner-cipf.png", alt="Image of CIPF logo", role="img")
          li.primary(role='listitem')
            img(src="images/partner-iiroc.png", alt="Image of IIROC logo", role="img")
          li(role='listitem')
            img(src="images/partner-hrblock.png", alt="Image of H&R Block logo", role="img")
          li(role='listitem')
            img(src="images/partner-nexgen.png", alt="Image of Nexgen Financial logo", role="img")
          li(role='listitem')
            img(src="images/partner-cambridge.png", alt="Image of Cambridge logo", role="img")
          li(role='listitem')
            img(src="images/partner-mcewen.png", alt="Image of McEwen Mining logo", role="img")
