.container.sticky.site-join
  a(href="join-our-advisor-program.html", role="link")
    img(src="images/quote-join-thumb.png", alt="Image of Join our advisor program logo", role="img")
    | Join our advisor program
section.site-quote(role="banner", data-js="joinProgramBtn")
  .container
    .row
      .site-quote-column
        h2(role="heading")
          span Join our advisor program.
          | &nbsp;Contact us today.
        p With our simple on-boarding system and groundbreaking advisor tools,<br>we make your life easier.
        a(href="join-our-advisor-program.html", role="link") Request our Transition Guide
