section.site-summary(role="banner")
  .container
    .row
      .site-summary-column
        h2(role="heading")
          | With&nbsp;
          span Aligned Capital Partners Inc.
          | , you as our Partner, have access to technologies that will help you reach the superior level of performance you demand from your business.
        a(href="#siteFeature", role="link")
          span.sr-only Scroll down
          img(src="images/summary-thumb.png", alt="Image of an icon", role="img")
