section.site-testimonial(role="banner")
  .container
    .row
      .site-testimonial-column
        .site-testimonial-wrap
          img(src="images/testimonial-thumb.png", alt="Image of ABC Capital's CEO, Jody Lantern", role="img")
          .site-testimonial-blockquote-wrap
            blockquote(cite="http://baustein.ca")
              p.site-testimonial-summary &#8220;Aligned Capital Partners has been an essential partner and has helped me transition my portfolio of investors without a single hitch&#8221;.
              footer
                h2(role="heading") Jody Lantern
                p Senior Advisor, ABC Capital
