section.site-widget(role="complementary")
  .container
    .row
      .site-widget-fcolumn.site-widget-fcolumn-primary
        .site-widget-lists
          ul.primary(role="list")
            li(role='listitem')
              a(href="index.html", role="link") Home
            li(role='listitem')
              a(href="investor-information-centre.html", role="link") Investor Information Centre
            li(role='listitem')
              a(href="advisor-access.html", role="link") Advisor Access
            li(role='listitem')
              a(href="contact-us.html", role="link") Contact Us
          ul(role="list")
            li(role='listitem')
              a(href="about-us.html", role="link") About Us
            li(role='listitem')
              a(href="our-company.html", role="link") Our Company
            li(role='listitem')
              a(href="our-team.html", role="link") Our Team
            li(role='listitem')
              a(href="legal-privacy.html", role="link") Legal &amp; Privacy
          ul(role="list")
            li(role='listitem')
              a(href="aligned-thinking.html", role="link") Aligned Thinking
            li(role='listitem')
              a(href="support-systems.html", role="link") Support Systems
            li(role='listitem')
              a(href="products.html", role="link") Products
            li(role='listitem')
              a(href="aligned-360.html", role="link") Aligned 360
            li(role='listitem')
              a(href="aligned-one.html", role="link") Aligned One
          ul(role="list")
            li(role='listitem')
              a(href="our-platform.html", role="link") Our Platform
            li(role='listitem')
              a(href="advisor-transition.html", role="link") Advisor Transition
            li(role='listitem')
              a(href="operations.html", role="link") Operations
            li(role='listitem')
              a(href="compliance.html", role="link") Compliance
            li(role='listitem')
              a(href="finance.html", role="link") Finance
      .site-widget-fcolumn.site-widget-fcolumn-secondary
        .site-widget-stocks
          | I am a STOCK widget.
    .row
      .site-widget-scolumn.site-widget-scolumn-primary
        a(href="http://www.cipf.ca/", role="link", target="_blank")
          img(src="images/footer-logo-cipf.png", alt="Image of CIPF logo", role="img")
        a(href="http://www.iiroc.ca/Pages/default.aspx", role="link", target="_blank")
          img(src="images/footer-logo-iiroc.png", alt="Image of IIROC logo", role="img")
      .site-widget-scolumn.site-widget-scolumn-secondary
        nav(role="navigation")
          a(href="privacy-notice.html", role="link") Privacy Notice
          a(href="acp-complaint-resolution-policy.html", role="link") ACP Complaint Resolution Policy
          span &copy; 2017 Aligned Capital Partners Inc.
