header.site-header.site-header-no-bg(role="header")
  .container
    .row
      .site-header-column
        h1.site-header-title(role="heading")
          span Aligned thinking
          | Support Systems
main.site-main(role="main")
  .container
    .row
      .site-intro
        h2(role="heading")
          | With&nbsp;
          span Aligned Capital Partners Inc.
          | , you as our Partner, have access to technologies that will help you reach the superior level of performance you demand from your business.
  .container
    ul.ss-list(role="list")
      li(role="listitem")
        img(src="images/page-ss-national-bank.png", alt="Image of National Bank logo", role="img")
        p For more than 20 years, National Bank Correspondent Network has been a premier choice among Investment Firms and Portfolio Managers. Throughout their long history, they have consistently delivered industry leading, independently verified customer service, innovative investment products and business solutions.
      li(role="listitem")
        img(src="images/page-ss-b2b-bank.png", alt="Image of B2B Bank logo", role="img")
        p For more than 20 years, National Bank Correspondent Network has been a premier choice among Investment Firms and Portfolio Managers. Throughout their long history, they have consistently delivered industry leading, independently verified customer service, innovative investment products and business solutions.
      li(role="listitem")
        img(src="images/page-ss-fengine.png", alt="Image of F-Engine logo", role="img")
        p For more than 20 years, National Bank Correspondent Network has been a premier choice among Investment Firms and Portfolio Managers. Throughout their long history, they have consistently delivered industry leading, independently verified customer service, innovative investment products and business solutions.
