include ../_includes/menus/navigation.pug
.site
  include ../_includes/blocks/standardpage.pug
  include ../_includes/blocks/home/quote.pug
  include ../_includes/blocks/home/widget.pug
  include ../_includes/blocks/footer.pug
