include ../_includes/menus/navigation.pug
.site
  include ../_includes/blocks/home/slider.pug
  include ../_includes/blocks/home/summary.pug
  include ../_includes/blocks/home/feature.pug
  include ../_includes/blocks/home/callout.pug
  include ../_includes/blocks/home/category.pug
  include ../_includes/blocks/home/testimonial.pug
  include ../_includes/blocks/home/partners.pug
  include ../_includes/blocks/home/quote.pug
  include ../_includes/blocks/home/widget.pug
  include ../_includes/blocks/footer.pug
